.AdminContainer {
  main {
    .coupon-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .coupon {
        max-width: 490px;
        background-color: #fff;
        @include boxShadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          background-color: rgb(228, 244, 255);
          width: 100%;
          padding: 1rem;
          box-sizing: border-box;
          @include heading(5px, 600);
        }
        .form-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(250, 252, 254);
          > form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 10px;
            column-gap: 10px;
            padding: 1rem;
            width: 100%;
            border: none;
            .form-group {
              position: relative;
              border: 2px solid rgba(0, 0, 0, 0.241);
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .form-group > input {
              padding: 1rem;
              outline: none;
              // width: 220px;
              box-sizing: border-box;
              background-color: rgb(250, 252, 254);
              border: none;
              text-align: center;
            }
            .form-group > select {
              padding: 1rem;
              outline: none;
              box-sizing: border-box;
              width: 100%;
              border: none;
              background-color: rgb(250, 252, 254);
            }
            .form-group > label {
              left: 0;
              position: absolute;
              padding: 1rem;
              pointer-events: none;
              transition: 0.5s;
              width: 150px;
            }
            .form-group input:not(:placeholder-shown) ~ label,
            .form-group input:focus ~ label {
              transform: translateX(10px) translateY(-30px);
              background-color: rgb(250, 252, 254);
              transition: 0.5s;
              font-size: 0.7em;
              padding: 0px;
              width: max-content;
              color: rgb(87, 87, 87);
            }

            .form-group select:valid ~ label,
            .form-group select:focus ~ label {
              transform: translateX(10px) translateY(-30px);
              background-color: rgb(250, 252, 254);
              transition: 0.5s;
              font-size: 0.7em;
              padding: 0px;
              width: max-content;
              color: rgb(87, 87, 87);
            }
          }
        }
        .btn {
          grid-column-start: 1;
          grid-column-end: 3;
          place-content: center;
          text-align: center;
          height: 70px;
        }
        button {
          padding-block: 0.8rem;
          padding-inline: 1rem;
          margin-top: 10px;
          border: none;
          background-color: rgba(107, 255, 220, 0.616);
          color: rgb(76, 77, 78);
          font-size: 1em;
          font-weight: bold;
          box-shadow: 0px 10px 1px rgb(55, 55, 55);
          border-radius: 5px;
          &:hover {
            background-color: rgb(107, 255, 220);
            color: rgb(76, 77, 78);
          }
          &:active {
            transform: translateY(7px);
            box-shadow: 0px 3px 1px rgb(55, 55, 55);
          }
        }

        .code-container {
          background-color: rgba(219, 219, 219, 0.827);
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 55px;
          width: 100%;
          padding: 1rem;
          > span {
            background-color: none;
            @include heading(6px, 500);
          }
          .btn {
            height: 40px;
            margin-bottom: 1rem;

            &:disabled {
              cursor: not-allowed;
              background-color: rgb(140, 255, 127);
              box-shadow: 0px 3px 1px rgb(55, 55, 55);
              transform: none;
              padding-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
