.new-Product {
  height: 100vh;
  @include flex(column, center, center, 0);
  h2 {
    @include heading(4px, 700);
    margin-bottom: 1rem;
  }

  .form-container {
    height: 80vh;
    max-width: 400px;
    @include boxShadow;
    border-radius: 1rem;
    form {
      padding: 1rem;
      width: 100%;
      > div {
        padding: 0.5rem;
        @include flex(column, center, unset, 0);
        > input {
          padding: 0.8rem;
          outline: none;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.559);
        }
        > input[type="file"] {
          border: 1px solid rgba(0, 0, 0, 0.559);
          cursor: pointer;
        }
      }
      .img-box {
        align-items: center;
        > img {
          padding: none;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          border-radius: 2px;
        }
      }

      > button {
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;
        border: none;
        color: white;
        font-size: medium;
        border-radius: 3px;
        background-color: rgba(31, 105, 243, 0.705);
        cursor: pointer;
        &:hover {
          background-color: rgb(31, 105, 243);
        }
      }
    }
  }
}
